.search-title {
  margin-top: 200px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  -ms-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

input[type="text"]
{
    -ms-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; 
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    -webkit-appearance: none; 
    -moz-appearance: none;
    
    height: 30px;
    width: 100%;
    background-color: transparent; 
    border: 2px solid #cdc9c9;
    font: normal 20px 'trebuchet MS', arial, helvetica; 
}

input[type="text"]:focus
{
    border: 2px solid #0099CC;
    outline: none;
}